USE [master]
GO
/****** Object:  Database [ContactsDB]    Script Date: 08-07-2018 19:27:26 ******/
CREATE DATABASE [ContactsDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmployeeDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\EmployeeDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EmployeeDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\EmployeeDB_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ContactsDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ContactsDB]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 08-07-2018 19:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Contacts](
	[ContactID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NULL,
	[Email] [varchar](50) NULL,
	[PhoneNumber] [nchar](10) NULL,
	[Status] [char](10) NOT NULL,
 CONSTRAINT [PK_Contacts] PRIMARY KEY CLUSTERED 
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Contacts] ON 

GO
INSERT [dbo].[Contacts] ([ContactID], [FirstName], [LastName], [Email], [PhoneNumber], [Status]) VALUES (1, N'Ross', N'Taylor', N'rt@123.com', N'7896541237', N'Active    ')
GO
INSERT [dbo].[Contacts] ([ContactID], [FirstName], [LastName], [Email], [PhoneNumber], [Status]) VALUES (2, N'Steve', N'Wagh', N'sw@123.com', N'4325235454', N'Inactive  ')
GO
INSERT [dbo].[Contacts] ([ContactID], [FirstName], [LastName], [Email], [PhoneNumber], [Status]) VALUES (3, N'Alister', N'Cambell', N'ac@123.com', N'6564513434', N'Inactive  ')
GO
SET IDENTITY_INSERT [dbo].[Contacts] OFF
GO
USE [master]
GO
